<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <center><h2><b>SHOW TABLE </b></h2></center>
  <table class="table table-bordered">
    <thead>
      <tr bgcolor="blue">
        <th bgcolor="red">id</th>
        <th>fistname</th>
        <th>lastname</th>
        <th>email</th>
        <th>Contact</th>
        <th>password </th>

      </tr>
    </thead>
    {% if key1 %}
    <tbody>
        {% for i in key1 %}
          <tr>
            <td bgcolor="red">{{i.id}}</td>
            <td>{{i.fistname}}</td>
            <td>{{i.lastname}}</td>
            <td>{{i.email}}</td>
            <td>{{i.Contact}}</td>
            <td>{{i.password}}</td>
          </tr>
        {% endfor %}
    </tbody>
    {% endif %}
  </table>

</div>

</body>
</html>